---
layout: default
title: Gidon Frischkorn, Ph.D.
subtitle: Psychometrics - Computational Modeling - Cognitive Psychology
description:
featured_image: /images/Banner.png
---

<section class="hero">
	<div class="hero__image" style="background-image: url({{ page.featured_image | relative_url }})">
		<div class="hero__overlay"></div>
	</div> 

	<div class="wrap">
		<h1>Computational Psychometrics</h1>
		<h2>Theory guided measurement and evaluation of psychological traits using formal models.</h2>

		{% include socials.html %}
	</div>
</section>

<section class="single">
	<div class="wrap">
		<article class="single-post">
			<img src="images/WebsiteFotoGF.jpg" alt="Avatar">

			<p>I am Gidon Frischkorn and I currently work as an SNF Ambizione Fellow associated with the <a
					href="https://www.psychology.uzh.ch/en/areas/nec/allgpsy.html">Cognitive Psychology Lab</a>
				at the <a href="https://www.psychology.uzh.ch/en.html">Department of Psychology</a> of the <a
					href="https://www.uzh.ch/en.html">University of Zurich</a>.
				I did my PhD in Cognitive Individual Differences Research at <a
					href="https://www.psychologie.uni-heidelberg.de/arbeitseinheit/persoenlichkeit-und-diagnostik">Heidelberg
					University</a>
				under the supervision of Prof. Dirk Hagemann.</p>

			<p> I am a psychometrician - that is a psychologists researching how to measure and evaluate psychological traits of
				people
				- focussing on 1) the measurement of cognitive processes, such as working memory, processing speed, and
				attention, as well as 2) evaluating experimental manipulations that might affect these processes. </p>

			<p> Broadly speaking, my work revolves around the question how we can measure and evaluate psychological processes and
				individual differences therein.
				Thus, my research lies at the inter-section of psychometrics, psychological research methods, and
				experimental psychology.
				In empirical research we typically collect self-reports or behavioral data, such as accuracies and
				response times, from participants.
				Yet, these do not directly reflect the psychological processes we aim to measure and investigate.
				My work tries to address this gap by using mathematical models that describe how psychological processes
				interact and translate into observed behavior. </p>

		</article>
	</div>
</section>

<section class="single">
	<div class="wrap">

		{% for project in site.projects reversed %}

		<article class="post">
			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ project.featured_image | relative_url }})">
				</div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h2>
					<p class="post__subtitle">{{ project.subtitle }}</p>
					<p class="post__description">{{ project.description }}</p>
				</div>
			</div>
		</article>

		{% endfor %}
	</div>
</section>